In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df=pd.read_csv(r'D:\Synapse NIT-KKR\Data\train.csv')

In [3]:
df.shape

(5000, 17)

In [4]:
df.head()

,ID,PERFORMANCE_INDEX,EMISSIONS_CO2,URBAN_CONSUMPTION,DISPLACEMENT,CAPACITY,PISTON_COUNT,BLENDED_CONSUMPTION,GEARBOX_TYPE,OUTPUT,BODY_STYLE,EFFICIENCY_RATIO,YEARS_IN_SERVICE,MILEAGE,HIGHWAY_USAGE,ENERGY_SOURCE,EFFICIENCY_RATING
0,0,74.595588,149.0,8.3,2.0,5.0,4.0,7.9,Manual,87.0,COMPACT,1.60,10.0,17.0,5.6,Petrol,39.0
1,1,62.338357,262.0,22.5,3.6,15.0,6.0,16.5,Automatic,163.0,SUV - SMALL,1.52,10.0,19.0,12.3,Petrol,23.0
2,2,72.105592,204.0,11.7,2.8,5.0,6.0,10.0,Automatic,172.0,MID-SIZE,1.59,10.0,18.0,10.4,Gas,30.0
3,3,86.706104,301.0,23.4,5.7,14.0,8.0,13.9,Automatic,286.0,PICKUP TRUCK - STANDARD,1.42,10.0,19.0,13.6,Petrol,28.0
4,4,104.793985,375.0,20.5,2.2,5.0,4.0,11.9,Manual,118.0,MID-SIZE,1.54,10.0,19.0,9.7,Petrol,26.0

In [5]:
df.tail()

,ID,PERFORMANCE_INDEX,EMISSIONS_CO2,URBAN_CONSUMPTION,DISPLACEMENT,CAPACITY,PISTON_COUNT,BLENDED_CONSUMPTION,GEARBOX_TYPE,OUTPUT,BODY_STYLE,EFFICIENCY_RATIO,YEARS_IN_SERVICE,MILEAGE,HIGHWAY_USAGE,ENERGY_SOURCE,EFFICIENCY_RATING
4995,4995,113.241839,311.0,16.1,5.1,7.0,6.0,9.6,Automatic,264.0,MID-SIZE,1.31,10.0,19.0,7.3,Petrol,27.0
4996,4996,103.952918,286.0,18.5,3.5,7.0,8.0,15.1,Automatic,266.0,FULL-SIZE,1.47,10.0,17.0,12.9,Petrol,20.0
4997,4997,64.741667,225.0,10.5,1.4,4.0,4.0,6.1,Automatic,87.0,MID-SIZE,1.33,10.0,17.0,6.8,Diesel,31.0
4998,4998,78.366368,233.0,9.8,3.1,5.0,4.0,8.7,Automatic,115.0,MID-SIZE,1.63,10.0,16.0,7.0,Gas,33.0
4999,4999,63.077954,264.0,9.2,3.3,5.0,6.0,12.2,Automatic,146.0,COMPACT,1.51,10.0,17.0,11.7,Petrol,12.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   5000 non-null   int64
 1   PERFORMANCE_INDEX    4981 non-null   float64
 2   EMISSIONS_CO2        4995 non-null   float64
 3   URBAN_CONSUMPTION    4996 non-null   float64
 4   DISPLACEMENT         4994 non-null   float64
 5   CAPACITY             4999 non-null   float64
 6   PISTON_COUNT         4993 non-null   float64
 7   BLENDED_CONSUMPTION  4996 non-null   float64
 8   GEARBOX_TYPE         5000 non-null   object
 9   OUTPUT               4998 non-null   float64
 10  BODY_STYLE           5000 non-null   object
 11  EFFICIENCY_RATIO     4996 non-null   float64
 12  YEARS_IN_SERVICE     4998 non-null   float64
 13  MILEAGE              4995 non-null   float64
 14  HIGHWAY_USAGE        4995 non-null   float64
 15  ENERGY_SOURCE        5000 non-null   object
 16  EFFICIENCY_RATING    5000 non-null   float64
dtypes: float64(13), int64(1), object(3)
memory usage: 664.2+ KB

In [7]:
df.isnull().sum()

ID                      0
PERFORMANCE_INDEX      19
EMISSIONS_CO2           5
URBAN_CONSUMPTION       4
DISPLACEMENT            6
CAPACITY                1
PISTON_COUNT            7
BLENDED_CONSUMPTION     4
GEARBOX_TYPE            0
OUTPUT                  2
BODY_STYLE              0
EFFICIENCY_RATIO        4
YEARS_IN_SERVICE        2
MILEAGE                 5
HIGHWAY_USAGE           5
ENERGY_SOURCE           0
EFFICIENCY_RATING       0
dtype: int64

In [8]:
# Remove rows wwith null values 
df =df.dropna().reset_index(drop=True)

In [9]:
#  Remove columns which has null values
df[df.isnull().any(axis=1)]

Empty DataFrame
Columns: [ID, PERFORMANCE_INDEX, EMISSIONS_CO2, URBAN_CONSUMPTION, DISPLACEMENT, CAPACITY, PISTON_COUNT, BLENDED_CONSUMPTION, GEARBOX_TYPE, OUTPUT, BODY_STYLE, EFFICIENCY_RATIO, YEARS_IN_SERVICE, MILEAGE, HIGHWAY_USAGE, ENERGY_SOURCE, EFFICIENCY_RATING]
Index: []

In [10]:
df.shape

(4938, 17)

In [11]:
df.isnull().sum()

ID                     0
PERFORMANCE_INDEX      0
EMISSIONS_CO2          0
URBAN_CONSUMPTION      0
DISPLACEMENT           0
CAPACITY               0
PISTON_COUNT           0
BLENDED_CONSUMPTION    0
GEARBOX_TYPE           0
OUTPUT                 0
BODY_STYLE             0
EFFICIENCY_RATIO       0
YEARS_IN_SERVICE       0
MILEAGE                0
HIGHWAY_USAGE          0
ENERGY_SOURCE          0
EFFICIENCY_RATING      0
dtype: int64

In [12]:
df['GEARBOX_TYPE'].unique()

array(['Manual', 'Automatic', 'eMr'], dtype=object)

In [25]:
gearbox_counts = df['GEARBOX_TYPE'].value_counts()
count_emr = gearbox_counts.get('eMr', 0) 
print(count_emr)

2

#### FROM ABOVE, WE CAN SEE THAT THERE ARE 3 UNIQUE TYPES OF 'GEARBOX_TYPE'
#### --> ['Manual', 'Automatic', 'eMr']

In [13]:
df['BODY_STYLE'].unique()

array(['COMPACT', 'SUV - SMALL', 'MID-SIZE', 'PICKUP TRUCK - STANDARD',
       'TWO-SEATER', 'FULL-SIZE', 'MINICOMPACT', 'MINIVAN', 'SUBCOMPACT',
       'SPECIAL PURPOSE VEHICLE', 'STATION WAGON - SMALL',
       'SUV - STANDARD', 'VAN - CARGO', 'VAN - PASSENGER',
       'STATION WAGON - MID-SIZE', 'PICKUP TRUCK - SMALL'], dtype=object)

In [14]:
df['BODY_STYLE'].nunique()

16

#### FROM ABOVE, WE CAN SEE THAT THERE ARE 16 UNIQUE TYPES OF 'BODY_STYLE'
#### --> ['COMPACT', 'SUV - SMALL', 'MID-SIZE', 'PICKUP TRUCK - STANDARD','TWO-SEATER', 'FULL-SIZE', 'MINICOMPACT', 'MINIVAN', 'SUBCOMPACT','SUV - STANDARD', 'SPECIAL PURPOSE VEHICLE','STATION WAGON - SMALL', 'VAN - CARGO', 'VAN - PASSENGER','STATION WAGON - MID-SIZE', 'PICKUP TRUCK - SMALL']

In [15]:
df['ENERGY_SOURCE'].unique()

array(['Petrol', 'Gas', 'Diesel', '"247234.3039"'], dtype=object)

In [16]:
df['ENERGY_SOURCE'].nunique()

4

#### FROM ABOVE, WE CAN SEE THAT THERE ARE 4 UNIQUE TYPES OF 'ENERGY_SOURCE'
#### --> ['Petrol', 'Gas', 'Diesel', '"247234.3039"']

In [17]:
energy_source_counts = df['ENERGY_SOURCE'].value_counts()
energy_source_counts

ENERGY_SOURCE
Petrol           2797
Gas              1985
Diesel            155
"247234.3039"       1
Name: count, dtype: int64

#### FROM ABOVE CODE AS YOU CAN SEE, THERE'S ONE OUTLIER i.e. "247234.3039". BUT FOR NOW WE'LL IGNORE IT AS IT WILL BE FIXED IN OUTLIER DETECTION

In [18]:
df = df[df['ENERGY_SOURCE'] != '"247234.3039"'].reset_index(drop=True)

In [19]:
df['ENERGY_SOURCE'].nunique()

3

In [20]:
df.columns

Index(['ID', 'PERFORMANCE_INDEX', 'EMISSIONS_CO2', 'URBAN_CONSUMPTION',
       'DISPLACEMENT', 'CAPACITY', 'PISTON_COUNT', 'BLENDED_CONSUMPTION',
       'GEARBOX_TYPE', 'OUTPUT', 'BODY_STYLE', 'EFFICIENCY_RATIO',
       'YEARS_IN_SERVICE', 'MILEAGE', 'HIGHWAY_USAGE', 'ENERGY_SOURCE',
       'EFFICIENCY_RATING'],
      dtype='object')

In [21]:
## Spaces were fixed in the column names
df.columns=df.columns.str.strip()
df.columns

Index(['ID', 'PERFORMANCE_INDEX', 'EMISSIONS_CO2', 'URBAN_CONSUMPTION',
       'DISPLACEMENT', 'CAPACITY', 'PISTON_COUNT', 'BLENDED_CONSUMPTION',
       'GEARBOX_TYPE', 'OUTPUT', 'BODY_STYLE', 'EFFICIENCY_RATIO',
       'YEARS_IN_SERVICE', 'MILEAGE', 'HIGHWAY_USAGE', 'ENERGY_SOURCE',
       'EFFICIENCY_RATING'],
      dtype='object')

In [22]:
df

,ID,PERFORMANCE_INDEX,EMISSIONS_CO2,URBAN_CONSUMPTION,DISPLACEMENT,CAPACITY,PISTON_COUNT,BLENDED_CONSUMPTION,GEARBOX_TYPE,OUTPUT,BODY_STYLE,EFFICIENCY_RATIO,YEARS_IN_SERVICE,MILEAGE,HIGHWAY_USAGE,ENERGY_SOURCE,EFFICIENCY_RATING
0,0,74.595588,149.0,8.3,2.0,5.0,4.0,7.9,Manual,87.0,COMPACT,1.60,10.0,17.0,5.6,Petrol,39.0
1,1,62.338357,262.0,22.5,3.6,15.0,6.0,16.5,Automatic,163.0,SUV - SMALL,1.52,10.0,19.0,12.3,Petrol,23.0
2,2,72.105592,204.0,11.7,2.8,5.0,6.0,10.0,Automatic,172.0,MID-SIZE,1.59,10.0,18.0,10.4,Gas,30.0
3,3,86.706104,301.0,23.4,5.7,14.0,8.0,13.9,Automatic,286.0,PICKUP TRUCK - STANDARD,1.42,10.0,19.0,13.6,Petrol,28.0
4,4,104.793985,375.0,20.5,2.2,5.0,4.0,11.9,Manual,118.0,MID-SIZE,1.54,10.0,19.0,9.7,Petrol,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4932,4995,113.241839,311.0,16.1,5.1,7.0,6.0,9.6,Automatic,264.0,MID-SIZE,1.31,10.0,19.0,7.3,Petrol,27.0
4933,4996,103.952918,286.0,18.5,3.5,7.0,8.0,15.1,Automatic,266.0,FULL-SIZE,1.47,10.0,17.0,12.9,Petrol,20.0
4934,4997,64.741667,225.0,10.5,1.4,4.0,4.0,6.1,Automatic,87.0,MID-SIZE,1.33,10.0,17.0,6.8,Diesel,31.0
4935,4998,78.366368,233.0,9.8,3.1,5.0,4.0,8.7,Automatic,115.0,MID-SIZE,1.63,10.0,16.0,7.0,Gas,33.0
4936,4999,63.077954,264.0,9.2,3.3,5.0,6.0,12.2,Automatic,146.0,COMPACT,1.51,10.0,17.0,11.7,Petrol,12.0

#### WE NEED TO CONVERT THE 'object-type' VALUES INTO 'numerical'

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4937 entries, 0 to 4936
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   4937 non-null   int64
 1   PERFORMANCE_INDEX    4937 non-null   float64
 2   EMISSIONS_CO2        4937 non-null   float64
 3   URBAN_CONSUMPTION    4937 non-null   float64
 4   DISPLACEMENT         4937 non-null   float64
 5   CAPACITY             4937 non-null   float64
 6   PISTON_COUNT         4937 non-null   float64
 7   BLENDED_CONSUMPTION  4937 non-null   float64
 8   GEARBOX_TYPE         4937 non-null   object
 9   OUTPUT               4937 non-null   float64
 10  BODY_STYLE           4937 non-null   object
 11  EFFICIENCY_RATIO     4937 non-null   float64
 12  YEARS_IN_SERVICE     4937 non-null   float64
 13  MILEAGE              4937 non-null   float64
 14  HIGHWAY_USAGE        4937 non-null   float64
 15  ENERGY_SOURCE        4937 non-null   object
 16  EFFICIENCY_RATING    4937 non-null   float64
dtypes: float64(13), int64(1), object(3)
memory usage: 655.8+ KB

#### Till now as we have seen, there are some unique values as mentioned. Summing them up we get:
* GEARBOX_TYPE --> 3
* ENERGY_SOURCE --> 3
* BODY_STYLE --> 16

#### It is obvious that we can easily apply One-Hot Encoding to 'GEARBOX_TYPE' & 'ENERGY_SOURCE'. But if we'll apply OHE to 'BODY_STYLE', then it'll increase the dimensionality and hence making the calculations complex. To handle this situation, we'll be proceeding in the following ways:

1. Instead of using One-Hot Encoding, we can use --> TARGET ENCODING for 'BODY_STYLE' and for rest of the categorical features, we can go with One-Hot Encoding
2. If results with both the above mentioned techniques are not satisfiable, we can use a module 'feature-engine' (PURELY OPTIONAL)

#### FOR IMPLEMENTING THE ABOVE 3 POINTS, WE'LL MAKE 3 DIFFERENT DATASETS TO PREVENT AMBIGUITY

In [26]:
df.isnull().sum()

ID                     0
PERFORMANCE_INDEX      0
EMISSIONS_CO2          0
URBAN_CONSUMPTION      0
DISPLACEMENT           0
CAPACITY               0
PISTON_COUNT           0
BLENDED_CONSUMPTION    0
GEARBOX_TYPE           0
OUTPUT                 0
BODY_STYLE             0
EFFICIENCY_RATIO       0
YEARS_IN_SERVICE       0
MILEAGE                0
HIGHWAY_USAGE          0
ENERGY_SOURCE          0
EFFICIENCY_RATING      0
dtype: int64

In [27]:
df.shape

(4937, 17)

In [38]:
df_ohe=df.copy()
df_target_encoding=df.copy()
df_feature_engine=df.copy()